.wrapper {
    position: relative;
    padding: 20px;
    background-color: #0d024d; 
    color: white; 
}

.dataview-back-button,
.button.top-right-button {
    position: absolute;
    top: 20px;
    color: white;
}

.dataview-back-button {
    left: 20px;
    background-color: red;
}

.button.top-right-button {
    right: 20px;
    background-color: blue;
}

.container {
    background-color: white;
    color: black;
    margin-top: 60px;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.data-view-status {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.data-view-status-box {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.data-view-status-connected {
    background-color: green;
}

.data-view-status-disconnected {
    background-color: red;
}

.latency-jitter-display {
    position: absolute;
    top: 200px;
    right: 20px; 
    background-color: white;
    color: black;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.table {
    width: 100%;
    margin-top: 20px;
}

.thead-light {
    background-color: #f8f9fa;
}

.popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}
