.wrapper {
    position: relative;
    padding: 20px;
}

.dataview-back-button,
.button.top-right-button {
    position: absolute;
    top: 20px;
}

.dataview-back-button {
    left: 20px;
}

.button.top-right-button {
    right: 20px;
}

.container {
    margin-top: 60px;
}

.data-view-status {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.data-view-status-box {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.data-view-status-connected {
    background-color: green;
}

.data-view-status-disconnected {
    background-color: red;
}

.latency-jitter-display {
    position: absolute;
    top: 20px;
    right: 150px; /* Adjust as needed */
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.popup {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}
